<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{/layout :: head}">
    <title>Title</title>
</head>
<body>


<!--<div class="container">-->
<!--    <div class="justify-content-center">-->
<!--        <div class="card" style="width: 18rem;">-->
<!--            <img src="https://media.craiyon.com/2023-11-18/2IgLoFjjRieKJQE3K3UuCw.webp"  class="card-img-top" >-->
<!--            <div class="card-body">-->
<!--                <h5 class="card-title" >Thêm cầu thủ</h5>-->
<!--                <form action="/player/create" th:object="${player}" method="post">-->
<!--                <table>-->

<!--                    <tr>-->
<!--                        <td>-->
<!--                            <p class="card-text">Họ và tên</p>-->
<!--                        </td>-->
<!--                        <td>:</td>-->
<!--                        <td><input class="card-text" th:field="*{name}"/></td>-->
<!--                        <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td>-->
<!--                            <p class="card-text">Ngày sinh</p>-->
<!--                        </td>-->
<!--                        <td>:</td>-->
<!--                        <td><input type="date" class="card-text" th:field="*{dob}"/></td>-->
<!--                        <td th:if="${#fields.hasErrors('dob')}" th:errors="*{dob}"></td>-->

<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td>-->
<!--                            <p class="card-text">Kinh nghiệm</p>-->
<!--                        </td>-->
<!--                        <td>:</td>-->
<!--                        <td><input class="card-text" th:field="*{experience}"/></td>-->
<!--                        <td th:if="${#fields.hasErrors('experience')}" th:errors="*{experience}"></td>-->

<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td>-->
<!--                            <p class="card-text" >Vị trí</p>-->
<!--                        </td>-->
<!--                        <td>:</td>-->
<!--                        <td><input class="card-text" th:field="*{position}"/></td>-->
<!--                        <td th:if="${#fields.hasErrors('experience')}" th:errors="*{experience}"></td>-->

<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td>Đội bóng</td>-->
<!--                        <td>:</td>-->
<!--                        <td>-->
<!--                            <select name="club" id="" th:field="*{club}">-->
<!--                                <option th:each="c:${clubs}" th:text="${c.name}" th:value="${c.id}"></option>-->
<!--                            </select>-->
<!--                        </td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td><button class="btn btn-primary">Lưu</button></td>-->
<!--                    </tr>-->
<!--                </table>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<div class="container w-50 mt-5 mx-auto rounded-4">
    <div class="p-5 shadow">
        <form action="/player/create" th:object="${player}" method="post">
            <div class="mb-3">
                <label for="name" class="form-label">Họ tên</label>
                <input type="text" class="form-control" id="name" th:field="*{name}">
                <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" ></div>
            </div>
            <div class="mb-3">
                <label for="dob" class="form-label">Ngày sinh</label>
                <input type="date" class="form-control" id="dob" th:field="*{dob}">
                <div th:if="${#fields.hasErrors('dob')}" th:errors="*{dob}" ></div>

            </div>
            <div class="mb-3">
                <label for="experience" class="form-label">Kinh nghiệm</label>
                <input type="text" class="form-control" id="experience" th:field="*{experience}">
                <div th:if="${#fields.hasErrors('experience')}" th:errors="*{experience}" ></div>

            </div>

            <div class="mb-3">
                <label for="position" class="form-label">Vị trí</label>
                <select name="position" class="form-select" id="position" aria-label="Default select example" th:field="*{position}">
                    <option name="position" value="">Vị trí</option>
                    <option name="position"  value="Tiền đạo" >Tiền đạo</option>
                    <option name="position"  value="Tiền vệ" >Tiền vệ</option>
                    <option name="position"  value="Trung vệ" >Trung vệ</option>
                    <option name="position"  value="Hậu vệ" >Hậu vệ</option>
                    <option name="position"  value="Thủ môn" >Thủ môn</option>
                </select>
                <div th:if="${#fields.hasErrors('position')}" th:errors="*{position}" ></div>

            </div>
            <div class="mb-3">
                <label for="club" class="form-label">Đội bóng</label>
                <select class="form-select" id="club" aria-label="Default select example" th:field="*{club}">
                    <option th:each="c:${clubs}" th:text="${c.name}" th:value="${c.id}"></option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Lưu</button>
            <a th:href="@{/player}" class="btn btn-primary" >Thoát</a>
        </form>
    </div>

</div>

</body>

</html>
