<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{/layout :: head}">
    <title>Title</title>
</head>
<body>
<h2>Danh sách các cầu thủ</h2>
<form action="/player" method="get" >
    <input type="hidden" name="page" th:value="${page}">
    <label for="name" >Name:</label>
    <input type="text" id="name" name="name" th:value="${name}" />
    <label for="dobMin">dobMin:</label>
    <input type="date" id="dobMin" name="dobMin" th:value="${dobMin}" />
    <label for="dobMax">dobMax:</label>
    <input type="date" id="dobMax" name="dobMax" th:value="${dobMax}" />
    <label for="size">Size:</label>
    <input type="number" id="size" name="size" th:value="${size}" th:selected="${size}"/>
    <button type="submit" class="btn btn-primary">Search</button>

    <a href="/player/create" class="btn btn-primary">Thêm mới</a>

    <div th:if="${message}">
        <span th:text="${message}"></span>
    </div>

    <div class="container">
        <div class="row ">
            <div class="col-4 mb-3" th:each="c : ${players}">
                <div class="justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <img src="https://banner2.cleanpng.com/20180324/zcq/kisspng-football-player-cartoon-football-5ab6a6e980f891.5574950615219197215283.jpg"
                             class="card-img-top">
                        <div class="card-body text">
                            <h5 class="card-title" th:text="${c.name}"></h5>
                            <h5 class="card-title" th:text="${c.id}"></h5>
                            <a th:href="@{/player/detail/{id}(id=${c.getId()})}" class="btn btn-primary">Chi Tiết</a>
                            <a th:href="@{/player/edit/{id}(id=${c.getId()})}" class="btn btn-primary">Chỉnh sửa</a>
                            <a th:href="@{/player/delete/{id}(id=${c.getId()})}" class="btn btn-primary" onclick="confirmDelete(event,this)">Xóa</a>
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <a class="btn btn-primary" th:if="${players.hasPrevious()}"
           th:href="@{/player(page=${players.number - 1},size=${size},name=${name},dobMin=${dobMin},dobMax=${dobMax})}">Previous</a>
        <span th:text="${players.number + 1}"></span> | <span th:text="${players.totalPages}"></span>
        <a class="btn btn-primary" th:if="${players.hasNext()}"
           th:href="@{/player(page=${players.number + 1},size=${size},name=${name},dobMin=${dobMin},dobMax=${dobMax})}">Next</a>
    </div>
</form>
<script type="text/javascript">
    function confirmDelete(event, element) {
        event.preventDefault();

        const confirmation = confirm("Xóa hả, chắc chưa?");
        if (confirmation) {
            window.location.href = element.getAttribute('href');
        }
    }
</script>
</body>
<footer th:replace="~{/layout :: footer}"></footer>
</html>

